* {
  font-family: Lato;
  margin: 0;
  padding: 0;
}

.container {
  margin: 128px 240px;
}

p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}

.btn-primary {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

section {
  margin-top: 128px;
}
/*---------------------------------- Header Styles ------------------------------------*/
header {
  background: rgba(229, 84, 115, 0.1);
  padding: 0px 240px;
  display: flex;
  gap: 97px;
}

.header-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  max-width: 695px;
}

.header-description {
  margin: 32px 0;
  max-width: 634px;
  text-align: left;
}

.header-info {
  margin-top: 190px;
}

/*---------------------------------- Feature Section Styles ------------------------------------*/
.featured-title,
.heading {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.featured-description {
  margin: 24px auto 48px;
  max-width: 594px;
}
.feature-container {
  display: flex;
  gap: 24px;
}

.feater-item-1 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  background-image: url(../images/pngwing\ 6.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.feater-item-2 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  background-image: url(../images/pngwing\ 5.png);
  background-repeat: no-repeat;
  background-position: bottom 50px center;
}

.feater-item-3 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  background-image: url(../images/pngwing\ 7.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.feature-flower-name {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
  margin-top: 570px;
}

/*---------------------------------- Delivery Section ------------------------------------*/

.delivery {
  display: flex;
  justify-content: space-between;
  padding: 86px 175px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin-top: 200px;
}

.delivery img {
  display: block;
  margin: auto;
}

.delivery-descriptions {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 600;
  margin-top: 24px;
}

/*---------------------------------- Hot Deal Section ------------------------------------*/
#hot-deal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 170px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  padding: 100px 400px 0;
}

.hot-deal-info {
  max-width: 594px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hot-deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.off {
  color: #e55473;
}

.hot-deal-description {
  margin: 24px 0 32px;
}

/*---------------------------------- Insta Section ------------------------------------*/
.insta-images {
  display: flex;
  gap: 24px;
}

.latest-deal {
  background-image: url(../images/Rectangle\ 9.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  width: 1440px;
  height: 449px;
  flex-shrink: 0;
}

.latest-deal-description {
  margin: 16px 0 48px;
}

.latest-deal-mail {
  border-radius: 8px;
  background: #fff;
  width: 700px;
  height: 64px;
  padding-left: 22px;
  border: 0;
}

.input {
  display: flex;
  gap: 16px;
}

/*---------------------------------- Footer Section ------------------------------------*/
footer {
  background: #111010;
  padding: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pink-footer-title {
  color: #e55473;
}
.footer-header-title {
  color: white;
}

.footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  max-width: 625px;
  font-weight: 400;
  line-height: 30px;
  margin: 24px 0 32px;
}

.footer-copyrights {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
